In [16]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Tipos de Dados

**Strings**

In [19]:
uma_string = "Essa é uma String = Cadeia de caracteres. Tipo de dado para representar textos"
uma_string

'Essa é uma String = Cadeia de caracteres. Tipo de dado para representar textos'

**Listas**

In [20]:
lista = [1, 2, 3, 4]
lista

[1, 2, 3, 4]

In [21]:
lista.append("novo item na lista")
lista

[1, 2, 3, 4, 'novo item na lista']

In [26]:
lista[4] = "Substituindo item na lista a partir do indice de posição do item"
lista

[1,
 2,
 3,
 4,
 'Substituindo item na lista a partir do indice de posição do item']

**Dicionários**

In [22]:
um_dicionario = {"chave": "valor", "lorena": {"idade": 25, "profissão": "Developer"}}
um_dicionario

{'chave': 'valor', 'lorena': {'idade': 25, 'profissão': 'Developer'}}

In [23]:
um_dicionario.get("lorena", None)

{'idade': 25, 'profissão': 'Developer'}

In [24]:
um_dicionario.get("lorena").get("idade")

25

**Tuplas** 

São listas só que imutáveis. E são uma forma de retornar multiplos valores em funções.

In [27]:
uma_tupla = (2, 3, 6)
uma_tupla

(2, 3, 6)

In [29]:
uma_tupla[0]

2

In [28]:
outra_tupla = 7, 9, 11
outra_tupla

(7, 9, 11)

In [30]:
try:
    uma_tupla[0] = 12

except TypeError:
    print("Não é possivel mudar valores de uma tupla")

Não é possivel mudar valores de uma tupla

In [35]:
nome, idade, ocupacao = "Lorena", 25, "Developer"
print(nome, " - ", idade, " anos - ", ocupacao)

Lorena  -  25  anos -  Developer

**Conjuntos**

### Exceções

In [18]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("Não é possível dividir por Zero")

Não é possível dividir por Zero

### Ordenação

In [7]:
lista = [50, 2, 56, 87, 0, -5]
lista

[50, 2, 56, 87, 0, -5]

In [11]:
sorted(lista)

[-5, 0, 2, 50, 56, 87]

In [12]:
lista

[50, 2, 56, 87, 0, -5]

In [14]:
lista.sort()
lista

[-5, 0, 2, 50, 56, 87]

In [15]:
lista.sort(reverse=True)
lista

[87, 56, 50, 2, 0, -5]

### Compreensões de Lista

### Expressões regulares

### Programação Orientada a Objeto