In [0]:
import pandas as pd

In [3]:
candidatos = {'cod_cand': [1, 2, 3], 'nome_cand': ['João', 'Julia', 'Marina']}
candidatos = pd.DataFrame(candidatos)
candidatos

   cod_cand nome_cand
0         1      João
1         2     Julia
2         3    Marina

In [25]:
votos = {'votos': [10, 25, 35], 'cod_cand': [3, 2, 1]}
votos = pd.DataFrame(votos)
votos

   cod_cand  votos
0         3     10
1         2     25
2         1     35

Concatenando dois dataframes lado a lado, porém sem passar a chave que liga as duas coleções

In [26]:
pd.concat([candidatos, votos], axis=1)

   cod_cand nome_cand  cod_cand  votos
0         1      João         3     10
1         2     Julia         2     25
2         3    Marina         1     35

Concatenando dois dataframes um abaixo do outro. Nesse caso ele concaterna os valores das colunas que tiverem o mesmo nome

In [27]:
pd.concat([candidatos, votos])

   cod_cand nome_cand  votos
0         1      João    NaN
1         2     Julia    NaN
2         3    Marina    NaN
0         3       NaN   10.0
1         2       NaN   25.0
2         1       NaN   35.0

Concatenando lado a lado e indicando qual é a coluna chave

In [28]:
pd.merge(candidatos, votos, on='cod_cand')

   cod_cand nome_cand  votos
0         1      João     35
1         2     Julia     25
2         3    Marina     10

In [29]:
classe = {'id_aluno': [1, 2, 3], 'nome_aluno': ['João', 'Julia', 'Marina'], 'nota': [9, 9, 10]}
classe = pd.DataFrame(classe)
classe

   id_aluno nome_aluno  nota
0         1       João     9
1         2      Julia     9
2         3     Marina    10

In [30]:
classe.aggregate('nota').mean()

9.333333333333334

In [31]:
classe.aggregate('nota').max()

10

In [33]:
classe.aggregate('nota').min()

9